
#root {
  min-height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.center {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

p {
  margin-top: 15%;
  font-size: 300px;
}

::selection {
  background: white;
}

button {
  height: 50px;
}